<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="test">
    <test name="login">
        <classes>
            <class name="cn.itheima.testng.suite.SuiteConfig"></class>
            <class name="cn.itheima.testng.suite.Login"></class>
        </classes>
    </test>

    <test name="pay">
        <classes>
            <class name="cn.itheima.testng.suite.Pay"></class>
        </classes>
    </test>
</suite>